<!-- Footer -->
<div class="footer">
	<div class="social">
		<div class="footer-heading mx-3">
			<h4>Hubungi Kami</h4>
		</div>

		<div class="col mx-3">
			<div class="social">
				<div class="d-flex gap-3">
					<div class="icon">
						<img src="icon/waktu.svg" />
					</div>
					<p class="my-auto">09.00 - 22.00</p>
				</div>
			</div>
			<div class="social mt-3">
				<div class="d-flex gap-3">
					<div class="icon">
						<img src="icon/date.png" />
					</div>
					<p class="my-auto">Senin - Minggu</p>
				</div>
			</div>

			<div class="social mt-3">
				<div class="d-flex gap-3">
					<div class="icon">
						<img src="icon/email.png" />
					</div>
					<p class="my-auto">rumahmakannusantara@gmail.com</p>
				</div>
			</div>

			<div class="social mt-3">
				<div class="d-flex gap-1">
					<div class="icon">
						<img src="icon/instagram.svg" />
					</div>
					<p class="my-auto">@rmnusansatara</p>
				</div>
			</div>

			<div class="social mt-2">
				<div class="d-flex gap-3">
					<div class="icon">
						<img src="icon/facebook.svg" />
					</div>
					<p class="my-auto">rmnusansatara</p>
				</div>
			</div>
		</div>
	</div>

	<div class="alamat">
		<p>
			Jl. Swadaya, RT.7/RW.7, Jatinegara, Kec. Cakung, Kota Jakarta Timur,
			Daerah Khusus Ibukota Jakarta 13930
		</p>
	</div>

	<div class="footer-bottom">
		<p>
			<a href="/home"> Home</a> | <a href="/promo"> Kebijakan Privasi </a>|
			<a href="/register">Register</a> | <a href="/creator">Creator</a>
		</p>

		<p>
			<img src="icon/Copyright All Rights Reser.png" /> 2022 - 2023. Rumah Makan
			Nusantara - Restaurant Anti Lapar
		</p>
	</div>
</div>

<!-- Footer End -->
