<!-- Jumbotron -->
<div
	class="jumbotron text-white d-flex flex-column justify-content-center align-items-center"
>
	<h1>Rumah Makan Nusantara</h1>
	<p>Restaurant anti lapar</p>
	<div class="register-btn">
		<a href="/register" class="btn btn-secondary">Register</a>
	</div>
</div>

<!-- Jumbotron End -->
