<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
	<div class="container">
		<a class="navbar-brand text-white" href="#">
			<img
				src="img/brand-logo.svg"
				alt="logo-rumah-makan-nusantara"
				height="30px"
				class="px-3 align-content-center"
			/>
			Rumah Makan Nusantara</a
		>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav w-100 justify-content-end">
				<a class="nav-link" href="/home">Home</a>
				<a class="nav-link" href="/promo">Promo</a>
				<a class="nav-link" href="/register"> Register</a>
				<a class="nav-link" href="/creator">Creator</a>
			</div>
		</div>
	</div>
</nav>
<!-- Navbar End -->
