* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "DM Sans", sans-serif;
}

.navbar {
	background-color: #b48a44 !important;
}

.navbar-nav {
	gap: 1rem;
}

.nav-link {
	font-weight: 500;
	color: white;
}

h3 {
	font-weight: bold;
	margin-top: 7rem;
	text-align: center;
}

.jmro img {
	width: 200px;
	height: 200px;
	margin-left: 5%;
	margin-top: 4%;
	border-radius: 100%;
	border-style: outset;
	border-color: #b48a44;
	border-width: 7px;
}

.jmro h4 {
	font-weight: 500;
	margin-top: 1rem;
	margin-left: 4%;
}

.jmro h6 {
	font-weight: 550;
	margin-top: 0.3rem;
	margin-left: 4%;
}

.jmro p {
	margin-left: 4%;
	width: 580px;
	height: 217px;
	left: 57px;
	top: 3112.19px;
}

.rdit{
    background-color: #b48a44;
    
}



.rdit img {
	width: 200px;
	height: 200px;
	margin-left: 1085px;
	margin-top: 4%;
	border-radius: 100%;
	border-style: outset;
	border-color: #dfcaa6;
	border-width: 7px;
}

.rdit h4 {
    color: white;
	font-weight: 500;
	margin-top: 1rem;
	margin-left: 1024px;
}

.rdit h6 {
    color: white;
	font-weight: 550;
	margin-top: 0.3rem;
	margin-left: 1090px;
}

.rdit p {
	margin-left: 721px;
	width: 580px;
	height: 217px;
	left: 57px;
	top: 3112.19px;
    text-align: right;
    color: white;
}


.fdil img {
	width: 200px;
	height: 200px;
	margin-left: 5%;
	margin-top: 4%;
	border-radius: 100%;
	border-style: outset;
	border-color: #b48a44;
	border-width: 7px;
}

.fdil h4 {
	font-weight: 500;
	margin-top: 1rem;
	margin-left: 4%;
}

.fdil h6 {
	font-weight: 550;
	margin-top: 0.3rem;
	margin-left: 4%;
}

.fdil p {
	margin-left: 4%;
	width: 580px;
	height: 217px;
	left: 57px;
	top: 3112.19px;
}


.luna{
    background-color: #b48a44;
    
}



.luna img {
	width: 200px;
	height: 200px;
	margin-left: 1085px;
	margin-top: 4%;
	border-radius: 100%;
	border-style: outset;
	border-color: #dfcaa6;
	border-width: 7px;
}

.luna h4 {
    color: white;
	font-weight: 500;
	margin-top: 1rem;
	margin-left: 1090px;
}

.luna h6 {
    color: white;
	font-weight: 550;
	margin-top: 0.3rem;
	margin-left: 1090px;
}

.luna p {
	margin-left: 720px;
	width: 580px;
	height: 217px;
	left: 57px;
	top: 3112.19px;
    text-align: right;
    color: white;
}


.xena img {
	width: 200px;
	height: 200px;
	margin-left: 5%;
	margin-top: 4%;
	border-radius: 100%;
	border-style: outset;
	border-color: #b48a44;
	border-width: 7px;
}

.xena h4 {
	font-weight: 500;
	margin-top: 1rem;
	margin-left: 4%;
}

.xena h6 {
	font-weight: 550;
	margin-top: 0.3rem;
	margin-left: 4%;
}

.xena p {
	margin-left: 4%;
	width: 580px;
	height: 217px;
	left: 57px;
	top: 3112.19px;
}


.nisa{
    background-color: #b48a44;
    
}



.nisa img {
	width: 200px;
	height: 200px;
	margin-left: 1085px;
	margin-top: 4%;
	border-radius: 100%;
	border-style: outset;
	border-color: #dfcaa6;
	border-width: 7px;
}

.nisa h4 {
    color: white;
	font-weight: 500;
	margin-top: 1rem;
	margin-left: 1125px;
}

.nisa h6 {
    color: white;
	font-weight: 550;
	margin-top: 0.3rem;
	margin-left: 1090px;
}

.nisa p {
	margin-left: 721px;
	width: 580px;
	height: 217px;
	left: 57px;
	top: 3112.19px;
    text-align: right;
    color: white;
}