<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head') %>
	</head>
	<body>
		<!-- Navbar -->
		<%- include('../partials/navbar') %>
		<!-- Navbar End -->

		<div class="creator-heading">
			<h3>The Creator Behind This Site</h3>
		</div>

		<!-- todo jamaro -->
		<div class="left-bio">
			<div class="bio">
				<div class="bio-img">
					<img src="img/creator/jamaro.svg" alt="jamaro" />
				</div>

				<div class="bio-content">
					<h4>Jamaro David Saragih</h4>

					<h6>KETUA KELOMPOK | Coding & UI/UX</h6>

					<p>
						Saya Jamaro David Saragih dari SMKN 69 Jakarta Timur. Saya dari
						jurusan SIJA dan memiliki Pengalaman di bidang IT terutama di bidang
						programmer. Saya juga menguasahai HTML dan juga CSS dasar. Saya
						lebih tertarik bekerja di bidang front end karena saya gemar untuk
						mengembangkan suatu website.
					</p>

					<div class="social-creator">
						<a href="https://www.instagram.com/iushidan/?hl=id" target="_blank"
							><img
								src="icon/instagramLeft.svg"
								title="instagram jamaro"
								title="Instagram Jamaro"
						/></a>
						<a
							href="https://www.linkedin.com/in/jamaro-david-saragih-244975178/"
							target="_blank"
							><img
								src="icon/linkedinLeft.svg"
								alt="linkedin jamaro"
								title="LinkedIn Jamaro"
						/></a>
						<a href="https://github.com/jamarodavid" target="_blank"
							><img
								src="icon/github Left.svg"
								alt="github jamaro"
								title="Github Jamaro"
						/></a>
					</div>
				</div>
			</div>
			<div class="kes-pes">
				<h6>Kesan & pesan</h6>
				<p>
					Kesan pesan saya selama mengikuti kelas indutri adalah senang dan
					enjoy bisa mengikuti pembelajaran. Cukup banyak hal baru yang dapat
					saya pelajari. Serta saya juga ingin mendalami bidang programming.
					Dengan saya menyelesaikan project ini saya mendapatkan pengalaman baru
					dan juga ilmu baru.
				</p>
			</div>
		</div>
		<!-- todo jamaro end -->

		<!-- todo radit -->
		<div class="right-bio">
			<div class="bio">
				<div class="bio-img">
					<img src="img/creator/radit.svg" />
				</div>

				<div class="bio-content">
					<h4>Raditya Ananda Rohman</h4>

					<h6>ANGGOTA | Coding & UI/UX</h6>

					<p>
						Saya Raditya Ananda Rohman dari SMKN 69 Jakarta. Saya berasal dari
						jurusan SIJA(Sistem Informasi Jaringan dan Aplikasi). Saya bercita -
						cita menjadi Full Stack Web Developer. Saya menguasai HTML, CSS, dan
						sedikit Javascript.
					</p>
					<div class="social-creator">
						<a
							href="https://www.instagram.com/raditya26._/?hl=id"
							target="_blank"
							><img
								src="icon/instagramRight.svg"
								alt="instagram radit"
								title="Instagram Radit"
						/></a>
						<a
							href="https://www.linkedin.com/in/raditya-ananda-rohman-71b112262/"
							target="_blank"
							><img
								src="icon/linkedinRight.svg"
								alt="linkedin radit"
								title="LinkedIn Radit"
						/></a>
						<a href="https://github.com/RadityaRohman" target="_blank"
							><img
								src="icon/githubRight.svg"
								alt="github radit"
								title="Github Radit"
						/></a>
					</div>
				</div>
			</div>

			<div class="kes-pes">
				<h6>Kesan & pesan</h6>
				<p>
					Kesan saya selama mengerjakan kelas industri adalah senang karena
					dengan mengerjakan projek kelas industri ini, saya bisa lebih
					mengembangkan skill saya, yang awalnya hanya bisa di sisi front-end
					saja, saya jadi bisa sedikit back-end.
				</p>
			</div>
		</div>
		<!-- todo radit end -->

		<div class="left-bio">
			<div class="bio">
				<div class="bio-img">
					<img src="img/creator/fadil.svg" alt="Fadil" />
				</div>

				<div class="bio-content">
					<h4>Fadil Muhammad</h4>

					<h6>ANGGOTA</h6>

					<p>
						Saya Fadil Muhammad seorang siswa dari SMK negeri 69 Jakarta Timur.
						Saya dari jurusa Sistem Informasi Jaringan dan Aplikasi atau yang di
						kenal dengan SIJA.saya tertarik di bidang Networking.
					</p>
					<div class="social-creator">
						<a
							href="https://www.instagram.com/mhmfld._/?hl=id"
							target="_blank"
							target="_blank"
							><img
								src="icon/instagramLeft.svg"
								alt="instagram fadil"
								title="Instagram Fadil"
						/></a>
					</div>
				</div>
			</div>
			<div class="kes-pes">
				<h6>Kesan & pesan</h6>
				<p>
					kesan dan pesan saya selama mengikuti kelas industri adalah saya dapat
					mempelajari banyak hal hal baru yang sebelumnya bahkan saya tidak
					pernah dengar, saya sangat senang dapat mempelajari hal baru dan
					mendapatkan pengalaman baru di kelas industri ini. Diharapkan dengan
					kelas industri saya beserta teman teman saya dapat memperaktekan serta
					menyebarkan ilmu ilmu yg kami dapatkan tersebut kepada orang lain.
				</p>
			</div>
		</div>

		<div class="right-bio">
			<div class="bio">
				<div class="bio-img">
					<img src="img/creator/luna.svg" alt="Xena" />
				</div>

				<div class="bio-content">
					<h4>Annisa Luna Syaila</h4>

					<h6>ANGGOTA</h6>

					<p>
						Perkenalkan, saya Annisa Luna Syaila seorang siswi SMK Negeri 69
						Jakarta Timur. Saya dari jurusan Sistem Informasi Jaringan dan
						Aplikasi atau yang disingkat sebagai SIJA, saya tertarik di bidang
						Networking dan saya memiliki pengalaman di bidang IT yang cukup
						banyak.
					</p>
					<div class="social-creator">
						<a
							href="https://www.instagram.com/annisalunasyaila/?hl=id"
							target="_blank"
							><img
								src="icon/instagramRight.svg"
								alt="instagram luna"
								title="Instagram Luna"
						/></a>
						<a
							href="https://www.facebook.com/lunannisasyaila?mibextid=ZbWKwL"
							target="_blank"
							><img
								src="icon/facebookRight.svg"
								alt="facebook luna"
								title="Facebook Luna"
						/></a>
					</div>
				</div>
			</div>

			<div class="kes-pes">
				<h6>Kesan & pesan</h6>
				<p>
					Kesan dan Pesan saya terhadap Kelas Industri Kesan saya adalah kelas
					industri ini sungguh sangat bermanfaat bagi saya karena kakak-kakak
					pengajarnya ramah dan menjelaskan dengan baik sehingga saya dapat
					memahaminya dengan mudah, pesan saya semoga ilmu yang diberikan oleh
					kelas industri ini bisa berguna di masa depan untuk saya dan
					teman-teman semua yang mengikuti kelas industri ini
				</p>
			</div>
		</div>

		<div class="left-bio">
			<div class="bio">
				<div class="bio-img">
					<img src="img/creator/xena.svg" alt="xena" />
				</div>

				<div class="bio-content">
					<h4>Xena Arinia Nazhirah</h4>

					<h6>ANGGOTA</h6>

					<p>
						Saya Xena Arinia Nazhirah dari SMK Negeri 69 Jakarta Timur. Saya
						dari Jurusan Sistem Informasi Jaringan dan Aplikasi (SIJA) dan
						memiliki pengalaman di bidang IT. Saat ini saya masih mencari minat
						saya.
					</p>
					<div class="social-creator">
						<a href="https://www.instagram.com/xenaarn7/?hl=id" target="_blank"
							><img
								src="icon/instagramLeft.svg"
								alt="instagram xena"
								title="Instagram Xena"
						/></a>
						<a
							href="https://www.linkedin.com/in/xena-arinia-nazhirah-244065247/"
							target="_blank"
							><img
								src="icon/linkedinLeft.svg"
								alt="linkdein xena"
								title="LinkedIn Xena"
						/></a>
					</div>
				</div>
			</div>
			<div class="kes-pes">
				<h6>Kesan & pesan</h6>
				<p>
					Kesan dan pesan nya selama mengikuti kelas industri adalah disatu sisi
					merasa senang disisi lain merasa tertantang karena keterbatasan waktu
					di sela sela sekolah. Hal ini membuat saya harus bisa mengatur waktu
					lebih baik lagi. Banyak hal hal baru yang dapat saya pelajari selama
					kelas industri ini. Diharapkan dengan saya beserta teman teman yang
					menyelesaikan project ini dapat mempraktekkan serta menyebarkan ilmu
					ilmu tersebut kepada orang lain. Terimakasih
				</p>
			</div>
		</div>

		<div class="right-bio">
			<div class="bio">
				<div class="bio-img">
					<img src="img/creator/anisa.svg" />
				</div>

				<div class="bio-content">
					<h4>Annisa Azahrah</h4>

					<h6>ANGGOTA</h6>

					<p>
						Saya Annisa Azahrah dari SMK Negeri 69 Jakarta Timur. Saya dari
						Jurusan Sistem Informasi Jaringan dan Aplikasi (SIJA) dan memiliki
						pengalaman di bidang IT. Saat ini saya masih mencari minat saya.
					</p>
					<div class="social-creator">
						<a
							href="https://www.instagram.com/ani_saazahrah/?hl=id"
							target="_blank"
							><img
								src="icon/instagramRight.svg"
								alt="instagram anisa"
								title="Instagram Anisa"
						/></a>
					</div>
				</div>
			</div>

			<div class="kes-pes">
				<h6>Kesan & pesan</h6>
				<p>
					Kesan saya selama kelas industri ini berjalan sangat menyenangkan,
					menurut saya dengan adanya projek kelas industri ini saya dapat
					mengembangkan ilmu saya dan saya tahu tentang pentingnya kerja sama
					tuh seperti apa, itu saja dari saya terima kasih
				</p>
			</div>
		</div>

		<!-- footer -->

		<%- include('../partials/footer'); %>

		<!-- footer end -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
