<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head') %>
	</head>
	<body>
		<!-- navbar -->

		<%- include('../partials/navbar'); %>

		<!-- navbar end -->

		<!-- Jumbotron -->

		<%- include('../partials/jumbotron'); %>

		<!-- Jumbotron End -->

		<!-- Favorito Menu -->
		<div class="container text-center">
			<div class="header-content">
				<div class="menu">
					<h1>
						ME <br />
						NU
					</h1>
				</div>
				<div class="favorito">
					<h2>Menu Favorit Rumah Makan Nusantara</h2>
				</div>
			</div>
			<div class="row m-auto">
				<div class="col py-2">
					<div class="img-fav">
						<img src="img/mie-goreng-kaming.svg" alt="Mie Goreng Kambing" />
					</div>
					<div class="content-fav m-auto text-center">
						<h4>Mie Goreng Kambing</h4>
						<p>
							Mie gorengnya yang ditumis dengan sayuran dan bumbu sederhana ini
							rasanya enak banget dan bikin kamu nggak bisa berhenti makan.
							Bumbunya bahkan ikut meresap ke dalam potongan daging kambing dan
							bakso ayam, lho.
						</p>
					</div>
				</div>
				<div class="col py-2">
					<div class="img-fav">
						<img src="img/kwetiau-goreng.svg" alt="Kwetiau Goreng Seafood" />
					</div>
					<div class="content-fav m-auto text-center">
						<h4>Kwetiau Goreng Seafood</h4>
						<p>
							Kwetiau goreng di Rumah makan nusantara ini punya tekstur yang
							kenyal dengan cita rasa yang gurih. Apalagi, topping sayuran dan
							siraman seafood-nya juga banyak banget dan bikin kamu ketagihan,
							lho.
						</p>
					</div>
				</div>
				<div class="col py-2">
					<div class="img-fav">
						<img src="img/ayam-rica-rica.svg" alt="Ayam Rica - Rica" />
					</div>
					<div class="content-fav m-auto text-center">
						<h4>Ayam Rica - Rica</h4>
						<p>
							Ayam Rica Rica kami berbeda dari ayam rica rica pada umumnya
							karena ayam rica rica kami tersedia dengan 3 level berbeda dimulai
							dari level1 hingga level3. yang mana level tersebut menentukan
							tingkat kepedasan.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- Favorito Menu End -->

		<!-- Latar Belakang  -->
		<div class="latar-belakang d-flex gap-lg-5">
			<div>
				<img src="img/rmnusantara.png" alt="" />
			</div>

			<div class="description py-3 text-white">
				<h2 class="text-dark">Latar Belakang Restoran Kami</h2>

				<p>
					Restoran ini didirikan pada tahun 1964, resep yang digunakan sudah
					turun-temurun dari nenek moyang kami. Menu yang kami keluarkan sangat
					banyak dan dari beberapa menu yang kami keluarkan memiliki cita rasa
					yang khas sehingga membuat para pelanggan kami menyukai restoran kami
					baik dari menu, pelayanan, hingga rasa. Restoran kami sangat dikenal
					oleh masyarakat sekitar sampai ke tingkat manca negara. Restoran Rasa
					Nusantara juga memiliki pelayanan yang ramah dan baik sehingga dapat
					memberikan pengalaman makan yang menyenangkan bagi para pengunjungnya.
					Restoran ini sangat cocok untuk keluarga, rekan kerja, atau
					acara-acara spesial seperti ulang tahun atau acara keluarga. Secara
					keseluruhan, restoran Rasa Nusantara merupakan pilihan yang tepat bagi
					para penggemar kuliner khas Indonesia yang ingin mencicipi
					hidangan-hidangan autentik Indonesia dengan suasana yang nyaman dan
					hangat.
				</p>

				<div class="register-btn py-2">
					<p>Tertarik dengan restoran kami?</p>
					<a href="/register" class="btn btn-primary regis-btn">Register</a>
				</div>
			</div>
		</div>
		<!-- Latar Belakang End-->

		<!-- Komentar Pembeli -->
		<div class="comment-section">
			<img src="img/comment-section.svg" alt="comment-section" />
		</div>

		<!-- Komentar Pembeli end -->

		<!-- Denah Restoran -->

		<div class="bckgdenah">
			<div class="denah">
				<img src="img/Group 6.png" alt="" srcset="" />
			</div>
			<h2>Denah Restoran</h2>
		</div>
		<!-- Denah Restoran End-->

		<!-- Footer -->
		<%- include('../partials/footer'); %>
		<!-- Footer end -->

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
